Repository vpuchkov-nr/comp-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --list-different

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.md": "prettier --list-different"
}

config(eslint): add react version
  .eslintrc.yml
  .gitattributes
Due: none

config(eslint): add react version
  .eslintrc.yml
  .gitattributes
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  public/vite.svg
  src/Button.stories.tsx
Due: prettier --write, eslint --fix

config(storybook): resolve conflicts
  package.json
Due: none

feat(components): add Badge component; add chromatic workflow
  .eslintignore
  .eslintrc.yml
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
  src/Badge/Badge.scss
  src/Badge/Badge.ts
  src/Badge/Badge.tsx
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/index.ts
  src/sum.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix

config(release): add changelog generation
  .gitattributes
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different

feat(commit flow): add commitizen to help provide better commit messages
  package-lock.json
  package.json
Due: none

chore(release): 0.0.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different

chore(gitattributes): add extra files to format
  .gitattributes
  .lintstagedrc
Due: none

chore(release): 0.0.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --list-different

config(release): move to release-please instead of standart-commit
  .github/workflows/release-please.yml
  package-lock.json
  package.json
Due: none

chore(badge): test change to validate release-please integration
  src/Badge/Badge.tsx
Due: prettier --write, eslint --fix

0.0.16
  package-lock.json
  package.json
Due: none

0.0.17
  package-lock.json
  package.json
Due: none

config(storybook): add theme and tailwind
  .storybook/index.css
  .storybook/preview.ts
  package-lock.json
  package.json
  postcss.config.js
  src/Button.stories.tsx
  src/ThemeProvider/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

config(init): extend prepare script with cz init
  package.json
Due: none

chore(workflows): rename flows
  .github/workflows/create-release-notes.yml
  .github/workflows/deploy-to-chromatic.yml
  .github/workflows/publish-package.yml
Due: none

docs(readme): update
  .eslintrc.yml
  .github/workflows/publish-package.yml
  README.md
  package.json
  public/vite.svg
Due: prettier --list-different

chore(readme): format update
  README.md
Due: prettier --list-different

chore(readme): commit flow; restore /public folder
  README.md
  public/test.txt
Due: prettier --list-different

feat(tailwind): add css
  .gitignore
  .storybook/index.css
  .storybook/preview.ts
  package.json
  postcss.config.js
  src/ThemeProvider/index.tsx
  src/index.ts
  src/sum.spec.ts
  src/sum.ts
  src/tailwind.css
Due: prettier --write, eslint --fix

feat(tailwind): try to use theme provider
  .eslintignore
  .eslintrc.yml
  package-lock.json
  package.json
  src/Button/Button.stories.tsx
  src/ThemeProvider/index.tsx
  src/index.ts
  src/tailwind.css
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

0.0.18
  package-lock.json
  package.json
Due: none

config(test): echo 0 till there are no tests
  package-lock.json
  package.json
Due: none

chore(): reexport ThemeProvider
  src/index.ts
Due: prettier --write, eslint --fix

0.0.21
  package-lock.json
  package.json
Due: none

config(tailwind): use CDS colors
  .gitattributes
  src/Button/Button.stories.tsx
  src/Colors/Colors.mdx
  src/ThemeProvider/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

config(package): simplify prepare script
  package.json
Due: none

0.1.0
  package-lock.json
  package.json
Due: none

chore(Button, Badge): wrap components in ThemeContext
  src/Badge/Badge.tsx
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/ThemeProvider/index.tsx
  src/index.ts
  src/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --fix

0.1.1
  package-lock.json
  package.json
Due: none

chore(Button): add severity check for classes
  .eslintrc.yml
  src/ThemeProvider/index.tsx
Due: prettier --write, eslint --fix

0.1.2
  package-lock.json
  package.json
Due: none

chore(storybook): add new variables and remove themeprovider from storybook config
  .eslintrc.yml
  .storybook/preview.ts
  src/ThemeProvider/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

test(ThemeProvider): remove wrapper around component
  src/Button/Button.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

0.1.3
  package-lock.json
  package.json
Due: none

chore(Button): add ThemeContext in story
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/index.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

0.1.4
  package-lock.json
  package.json
Due: none
